<!DOCTYPE html>
<html lang="en">
<head>
<title>paintbrush.london</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Style the header */
.header {
    padding: 80px;
    text-align: center;
    background: white;
    color: black;
}

/* Increase the font size of the h1 element */
.header h1 {
    font-size: 20px;
}
</style>
</head>
<body>

<div class="header">
  <h1>paintbrush.london</h1>
  <p>test website for personal artworks</p>
</div>

</body>
</html>
